<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css">
</head>

<body>
    <div class="card text-center mt-5 shadow-lg p-3 bg-white rounded" style="width: 36rem;margin: auto;text-transform: uppercase;">
        <h4 class="card-title mb-0">Image Operations</h4>
        <a href="/resize">Image Resizing</a>
        <a href="/blur">Image Blurriness</a>
        <a href="/grayscale">Color to Black White</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>
</body>

</html>